* {
	margin: 0;
}
html, body {
	height: 100%;
}
#page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: 100px; 
}
#page-wrap:after {
	content: "";
	display: block;
}
footer, .page-wrap:after {
	height: 0px; 
}

body {
	background-color: #FFFFFA;
	font-family: 'Crimson Text', serif;
	color: #594B4C;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation li {
	display: inline;
	color: #DC1300;
	font-size: 1.2em;
}

a {
	text-decoration: none;
	color: #DC1300;
}

header {
    text-align: center;
    background-color: maroon;
    border-bottom: solid 3px white;
    margin:-30px auto 0;
    height: 90px;
    color: #FFFFFA;
    z-index: -2;
}

#header-logo {
	position: absolute;
	opacity: 0.6;
	height: 60px;
	top: 23px;
	left: 34%;
	z-index: 0;
}

h1 {
	position: relative;
	padding-top: 50px;
	font-weight: 300;
	z-index: 1;
	color: #FFFFFA;
}

h2, h4 {
	line-height: 100%;
	color: rgb(220, 19, 0);
}

#navigation {
	position: relative;
	margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    /*margin-top: 10px;*/
    text-align: center;
    z-index: 1;
    background-color: #FFFFFA;
}

.feature {
	margin: 60px auto 20px;
	display: inline;
	float: left;
	text-align: center;
}

img {
	max-width: 40%;
}

.text {
	max-width: 40%;
	padding-left: 1%;
	text-align: left;
}

img, .text {
	display: inline-block;
	vertical-align: top;
}

.article-list {
	max-width: 65%;
	text-align: left;
	padding: 100px;
}

.article {
	width: 300px;
	display: inline-block;
	margin-bottom: 20px;
}

#body-logo {
	position: absolute;
	opacity: 0.2;
	bottom: -450px;
	right: -50px;
}

footer {
	position: relative;
	height: 200px;
	background-color: #594B4C;
	color: #FFFFFA;
}

footer div {
	width: 30%;
	margin-top: 30px;
	display: inline-block;
	vertical-align: top;
}

#contact {
	width: 25%;
	margin-left: 5%;
	border-right: 2px solid #FFFFFA;
	padding-right: 10px;
	padding-left: 40px;
	line-height: 100%;
}

#contact img {
	height: 30px;
	display: inline-block;
}

#contact h2 {
	display: inline;
	color: #FFFFFA;
	font-weight: normal;
}

#links {
	margin-left: 15px;
}

#links ul {
	display: inline-block;
	margin-right: 15px;
}

#subscribe {
	display: inline-block;
}

input {
	border-radius: 5px;
	border: none;
}

form {
	padding-top: 10px;
	padding-left: 20px;
}

form .field {
	height: 25px;
	width: 150px;
	padding: 0 5px;
}

form .button {
	background: rgb(93,8,0);
	color: #FFFFFA;
	height: 25px;
	width: 80px;
}

#copywrite {
	padding-top: 60px;
	font-style: bold;
	position: absolute;
	right: 10px;
	bottom: 5px;
}

/*----- FEATURE PAGE --------*/

.feature-page {
	margin: 0 auto;
}

.feature-page .text:first-child {
	margin-top: 20px
}

.feature-page h6 {
	text-indent: 30px;
}

.feature-page img {
	margin: 10px auto;
	max-width: 60%;
	display: block;
}

.feature-page .text {
	margin: 0 auto;
	display: block;
	max-width: 60%;
}

.feature-page .feature-text {
	margin-bottom: 20px;
	font-size: 16px;
}

.feature-page h5 {
	font-size: 18px;
}